body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}